body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
      }

.header {
    background-image: url("../images/apple-pie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 75vh;
    display:flex;
    justify-content:center;
    align-items:center;

        }

.header h1 {
        color:white;
        font-size:60px;
        font-weight:lighter
   }

hr {
    border-top: solid 2px #989898;
    height:1px
}

.container {
    margin:0px 75px;
       }

.paragraph {
         font-size: 20px;
         margin-top: 65px;
         text-align:justify
     }

.info-img {
    margin: 0 auto;
    display:block;
    width:45%;
    height: auto
}

ul {
    list-style:none;
}

ul li:before {
    display:inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em
}